body {
    font-family: Arial;
    background: #f2f2f2;
}

.auth, .app {
    width: 350px;
    background: white;
    padding: 20px;
    margin: 80px auto;
    border-radius: 10px;
    text-align: center;
}

input, button {
    width: 90%;
    padding: 8px;
    margin: 5px 0;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    background: #ddd;
    padding: 8px;
    margin: 5px 0;
}

.hidden {
    display: none;
}
